<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/"><%= user.username %></h1>
				<nav id="nav">
					<ul>
						<li><a href="/student">Upcoming Elections</a></li>
						<li><a href="/student/past-elections">Past Elections</a></li>
						<li><a href="/logout" class="button">Log Out</a></li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
        <img class="main-logo" src="/images/TUDLogo.png">
        <ul class="actions special">
        </ul>
			</section>

			<!-- Main -->
			<section id="main" class="container" style="height: 60%;">
				<section class="box special elections-top-margin">
					<div id="header-box">
						<header class="major">
							<h2>Upcoming Elections</h2>
						</header>
					</div>
					<header class="major">
						<% for (var i = 0; i < elections.length; i++) { %>
							<div id="election-box">
								<header class="major">
									<h4><%= elections[i].title %></h4>
									<a href="student/vote/<%= elections[i].id %>" class="button" style="height: 2em; line-height: 2em;">Vote</a>
								</header>
							</div>
						<% } %>
					</header>
					<div class="bottom-margin" style="margin-bottom: -7em;"></div>
				</section>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li style="padding-right: 1em;">Your unique hash ID:</li><strong><li><%= user.userHash %></a></li></strong>
				</ul>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
