<!DOCTYPE HTML>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/forms.css" />

    <style>
      .box{
        height: 15em; !important
      }
    </style>

	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/"><%= user.username %></h1>
				<nav id="nav">
					<ul>
						<li><a href="/student">Upcoming Elections</a></li>
						<li><a href="/student/past-elections">Past Elections</a></li>
						<li><a href="/logout" class="button">Log Out</a></li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
        <img class="main-logo" src="/images/TUDLogo.png">
        <ul class="actions special">
        </ul>
			</section>

			<!-- Main -->
			<section id="main" class="container" >
				<section class="box special elections-top-margin form-box">
					<div id="header-box" style="margin-bottom: 1em;">
						<header class="major">
							<h2 style="font-weight: 500;">Choose your candidate</h2>
						</header>
					</div>

					<form action="http://localhost:3200/vote" target="_blank" style="color: black" method="POST">
						<label for="candidateId"><span style="color: white; font-size: 1.5em"><%= election.title %></span><select name="candidateId" class="select-field">
							<option value="General Question" selected="true" disabled="disabled">Choose a candidate...</option>
							<% for (var i = 0; i < candidates.length; i++) { %>
								<option value="<%= candidates[i].id %>"><%= candidates[i].name %></option>
							<% } %>
						</select></label>
						<input type="hidden" name="userHash" value="<%= user.userHash %>">
						<label><span> </span><input type="submit" value="Submit" /></label>
					</form>
				</section>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li style="padding-right: 1em;">Your unique hash ID:</li><strong><li><%= user.userHash %></a></li></strong>
				</ul>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
